body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

#map {
  width: 100vw;
  height: 100vh;
}

.leaflet-popup-content {
  font-size: 14px;
  line-height: 1.4;
}

.leaflet-popup-content strong {
  color: #ffcc00;
}
